.login {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #cae3ea;
}
.logo-img {
  margin-bottom: -2%;
}
.login__container {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.login__textBox {
  padding: 5%;
  font-size: 18px;
  margin-bottom: 10px;
  width: 90%;
  border-radius: 20px;
  border: none;
  color: #006e95;
  outline: none;
}
.login__btn {
  padding: 10px;
  font-size: 20px;
  margin-bottom: 10px;
  border: none;
  color: white;
  background-color: #006e95;
  width: 100%;
  border-radius: 20px;
  line-height: 21px;
  font-weight: bold;
}
.login__btn:hover {
  background-color:  #058bab;
}
.login__google {
  background-color: #4285f4;
}
.login div {
  margin-top: 7px;
}
